Source: pysnapsync
Section: admin
Priority: optional
Maintainer: David Taylor <davidt@yadt.uk>
Build-Depends: debhelper (>=9),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-pypandoc,
 python3-sphinx,
 python3-yaml,
 pandoc
Standards-Version: 3.9.8
Homepage: https://github.com/dtaylor84/pysnapsync
X-Python3-Version: >= 3.3
#Vcs-Git: git://anonscm.debian.org/collab-maint/pysnapsync.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/pysnapsync.git

Package: python3-pysnapsync
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: pysnapsync-doc
Description: LVM to Btrfs snapshot backup, using rsync (Python 3)
 Backup LVM snapshopts to Btrfs snapshots using rsync over ssh.

Package: python-pysnapsync-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: LVM to Btrfs snapshot backup, using rsync (documentation)
 Backup LVM snapshopts to Btrfs snapshots using rsync over ssh.
